<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mindrixa"
        tools:targetApi="31">

        <!-- MainActivity: Es la actividad principal que se inicia al abrir la aplicación -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WelcomeActivity: Pantalla de bienvenida -->
        <activity android:name=".WelcomeActivity" />

        <!-- LoginActivity: Actividad de inicio de sesión -->
        <activity android:name=".InicioActivity" />

        <!-- MenuActivity: El menú de opciones -->
        <activity android:name=".MenuActivity" />

        <!-- TaskManagementActivity: Pantalla de gestión de tareas -->
        <activity android:name=".TaskManagementActivity"></activity>


        <!-- AddTaskActivity: Pantalla para agregar nuevas tareas -->
        <activity android:name=".AddTaskActivity" />

        <activity android:name=".SelectTimeActivity" />
         <activity android:name=".TimerActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".PasswordRecoveryActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".MenuBasicActivity"/>
        <activity android:name=".TaskManagementWithUserActivity"/>
        <activity android:name=".AddNewTaskActivity"/>
        <activity android:name=".encuesta.Pantalla1Activity"/>
        <activity android:name=".encuesta.Pantalla2Activity"/>
        <activity android:name=".ProximaActualizacionActivity"/>
        <activity android:name=".encuesta.Pantalla3Activity"/>
        <activity android:name=".encuesta.Pantalla4Activity"/>
        <activity android:name=".encuesta.Pantalla5Activity"/>
        <activity android:name=".encuesta.Pantalla6Activity"/>
        <activity android:name=".encuesta.Pantalla7Activity"/>
        <activity android:name=".encuesta.Pantalla9Activity"/>
        <activity android:name=".encuesta.Pantalla8Activity"/>
        <activity android:name=".encuesta.Pantalla11Activity"/>
        <activity android:name=".encuesta.Pantalla10Activity"/>
        <activity android:name=".control.DasbordActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>
